.option {
  width: 352px;
  height: 375px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.option h2 {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 16px;
}
.option p {
  padding: 0 24px;
}

.option:hover {
  transition: ease-out 0.3s;
  box-shadow: 0px 4px 30px 0px rgba(67, 116, 229, 0.4);
}
.option:hover h2 {
  font-weight: 700;
}
.option:hover #Vector_2 {
  fill: #4374e5;
}

.arrow {
  padding: 48px 0 32px;
}
@media (max-width: 768px) {
  .option {
    width: 100%;
  }
}
